* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 80%;
    margin: auto;
}

header{
    margin-bottom: 1.5em;
}

.logo {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: auto;
    margin: .5em 0 1em 2.5em;
   
}

ul li{
    display: inline;
    font-style: normal;
    color: black;
}

a {
    text-decoration: none;
    color: darkgray;
}

a:visited {
    color: lightgray;
}

a:active {
    text-decoration: underline;
    background-color: antiquewhite;
}

section:not(div*){
    filter: brightness(80);
}

section {

    position: relative;
    margin: 1em;
    padding: 1em;
    background-size: 97%;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: auto;
}

img{
    border-radius: 20px;
    filter: brightness(80%);
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;

}

section div {
    color: #fff;
    width: 50%;
    margin: 1em;
    position: absolute;
    bottom: 20%;
    left: 5%;
    float: none;
}

h2{
    text-overflow: ellipsis;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
}



