* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 80%;
    margin: auto;
}

.logo {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: auto;
    margin: .5em 0 1em 2.5em;
   
}

ul li{
    font-size: smaller;
    display: inline;
    font-style: normal;
    color: black;
}
a {
    text-decoration: none;
    color: darkgray;
}
a:visited {
    color: lightgray;
}

a:active {
    text-decoration: underline;
    background-color: antiquewhite;
}