* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

#container {
    width: 80%;
    margin: auto;
}

header{
    margin-bottom: 1.5em;
}

.logo {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: auto;
    margin: .5em 0 1em 2.5em;
   
}

ul li{
    display: inline;
    font-style: normal;
    color: black;
    font-size: larger;
}

a {
    text-decoration: none;
    color: darkgray;
}

a:visited {
    color: lightgray;
}

a:active {
    text-decoration: underline;
    background-color: antiquewhite;
}

section:not(div*){
    filter: brightness(80);
}

#banner {

    position: relative;
    margin: 1em;
    padding: 1em;
    background-size: 97%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 550px;
    width: auto;
}

#banner img{
    border-radius: 20px;
    filter: brightness(80%);
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;

}

#banner h2{
    text-overflow: ellipsis;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
}

#banner div {
    color: #fff;
    width: 40%;
    margin: 1em;
    position: absolute;
    bottom: 20%;
    left: 5%;
    float: none;
}

main {
    margin: 1em;
    padding: 1em;
}
main header {
    margin: 1em 0;
}
#articles {
    padding: -1em;
}

#articles::after {
    content:"";
    clear: both;
    display: table;
}

article{
    float: left;
}
.side{
    width: calc(20% - 1em);
    margin: 1em 0 1em 0;
}

.center {
    margin: 1em 1em;
    width: 60%;  
}

.side img, .center img{
    object-fit: cover;
    filter: brightness(80%);
    width: 100%;
    border-radius: 25px;
    height: 200px;
    margin: 0 0 1em 0;
    
}
article > h1 {
    color: black;
    font-weight: 200;
}

h1+p{
    color: darkgray;
}

article > p {
    margin: 1em 0;
    color: darkgray;
}

